<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8" />
<head th:replace="fragments/head :: head"></head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container">
    <div class="row">
        <div class="col-6" th:each="menu: ${menus}">
        	<br>
	        <p th:text="${menu.date}"></p>
	        <a class="text-info" href="#" th:href="@{/AfficherMenu/} + ${menu.id}" th:text="${menu.nom}"></a>
	        <p th:text="${menu.description}"></p>
	        <br>
	        <div class="row">
	        	<div class="col-4" th:each="menuJour: ${menu.menuDuJour}">
		        	<img th:src="${menuJour.plat.imageUrl}" class="picture1"/>
	        	</div>
    	    </div>
	        <br>
	        <br>
	    </div>
	</div>
</div>
</body>
</html>