<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8" />
<head th:replace="fragments/head :: head"></head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container">
	<div class="row">
		<div class="col-6" th:each="menu: ${menus}">
		    <h5 th:text="${menu.date}"></h5>
	        <a class="text-info" href="#" th:href="@{/AfficherMenu/} + ${menu.id}" th:text="${menu.nom}"></a>
			<br>
			<div class="card-group">
				<div class="card" th:each="menuJour: ${menu.menuDuJour}"> 
				    <img class="card-img-top" th:src="${menuJour.plat.imageUrl}" alt="Card image cap">
				    <div class="card-body">
				      <h5 class="card-title" th:text="${menuJour.plat.typePlat.libelle}"></h5>
				      <p class="card-text" th:text="${menuJour.plat.description}"></p>
				    </div>
				    <div class="card-footer">
				    	<h6 class="text" th:text="${menuJour.prix} + ' €'"></h6>
				      <!--  <small class="text-muted" th:text="${menuJour.prix} + ' €'"></small>-->
				    </div>
				</div>
			</div>
			<br>
		</div>
	</div>
</div>
</body>
</html>